<ul class="navbar-nav">
    <!-- Links estáticos apenas para navegação visual -->
    <!-- Link para a Dashboard (que vamos criar a seguir) -->
    <li class="nav-item">
        <a class="nav-link text-dark fw-bold" href="/Home/Dashboard">Dashboard</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" href="/Account/Register">Register</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" href="/Account/Login">Login</a>
    </li>
</ul>